.ex {
    background-image: linear-gradient(to left, white, #d5eaf1);
}

.ex_title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #1d98c1;
    font-weight: bold;
    border-bottom: .5px solid #000; 
    border-color: black;
    padding: 110px 0 15px 0;
}

.ex_navbar {
    list-style: none;
    margin-top: 15px;
  }

.exli {
    padding: 0 40px;
}

.but {
    font-style: none;
    border: none;
    background-color: transparent; 
}
.resButton {
    background-color: transparent; 
    color: black; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-weight: 500;
    font-size: 20px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 5px 40px;
}

.ex_body {
    text-align: left;
    margin: 40px 10%;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
    font-size: 30px;
    font-style: italic;
}

.body_section {
    padding: 7px 0px 7px 0px;
}

.item {
    padding-bottom: 20px;
    display: flex;
} 

.item_text {
    margin-right: 80px;
}

.item_header {
    color: black;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
} 

.item_company {
    margin: 3px 0px;
    color: rgb(109, 101, 101);
    font-style: italic;
}

.skills {
    margin-top: 3px;
    color: rgb(109, 101, 101);
}

.describe {
    color: #523a3a;
}

.picture {
    max-width: 300px; 
    margin: auto;
    align-self: flex-end;
    height: auto;
    border: solid;
    border-color: #cac8c8;
    margin-right: 80px;
}

.pictureBlank {
    max-width: 300px; 
    margin: auto;
    align-self: flex-end;
    height: auto;
    border: none;
    margin-right: 80px;
}

@media (max-width: 1050px) {
    .item_text {
        margin-right: 30px;
    }

    .picture {
        max-width: 300px; 
        width: 30%;
        margin: 0;
        align-self: flex-start;
        height: auto;
        border: solid;
        border-color: #cac8c8;
        margin-right: 30px;
    }

    .pictureBlank {
        max-width: 300px; 
        width: 30%;
        margin: 0;
        align-self: flex-start;
        height: auto;
        border: none;
        margin-right: 80px;
    }
}

@media (max-width: 768px) {
        
    .ex_title {
        font-size: 48px;
    }
    .ex_navbar {
            list-style: none;
            display: flex;
            flex-direction: column;
            margin: auto;
        }
        
    .exli {
        display: block;
        margin-bottom: 0px;
    }

    .but {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
    
    .item {
        flex-direction: column; 
    }
    
    .item_text {
        margin: auto;
        font-size: 15px;
    }

    .item_company {
        font-size: 12px;
    }

    .skills{
        font-size: 13px;
    }

    .describe {
        text-align: justify;
    }

    .picture {
        margin: auto auto 15px auto;
        max-width: 300px;
        width: 60%;
    }
}




