.resume {
    background-image: linear-gradient(to left, white, #d5eaf1);
}

.resume_title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #1d98c1;
    font-weight: bold;
    border-bottom: .5px solid #000; 
    border-color: black;
    padding: 110px 0 15px 0;

}

.button-cont-resume {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.download-pdf-button {
    font-size: 18px;
    font-weight: bold;
    background-color: #1d98c1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Inria Serif', serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.download {
    text-decoration: none;
    color: white;
}

.download-pdf-button:hover {
    background-color: #166d8f; 
    transform: scale(1.05);  
}

.myRes {
    max-width: 40%;
    height: auto;
    margin: 20px 20% 2% 20%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

@media (max-width: 768px) {
    .resume_title {
        font-size: 48px;
    }

    .myRes {
        max-width: 307px;
        width: 70%;
        height: auto;
        margin: 15px 2%;
      }

      .downloadButton {
          margin-top: 15px;
      }
    
}