.homePage {
    min-height: 100vh;
    width: 100%;
    display: flex; 
    justify-content: flex-start; 
    background-image: linear-gradient(to left, white, #d5eaf1);
    position: fixed;
}

.image-container {
    margin:auto;
    background-color: #1d98c1; 
    width: auto; 
    height: 375px;
    border-radius: 50%;
    margin-left:5px;
  }

.head-shot {
width: 375px; 
height: 375px; 
border-radius: 50%;
color: #1d98c1;
box-shadow: 
    0 0 10px rgba(29, 152, 193, 0.95),
    0 0 20px rgba(29, 152, 193, 0.93),
    0 0 50px rgba(29, 152, 193, 0.85),
    0 0 50px rgba(29, 152, 193, 0.90),
    0 0 50px rgba(29, 152, 193, 0.85),
    0 0 50px rgba(29, 152, 193, 0.7),
    0 0 50px rgba(29, 152, 193, 0.6),
    0 0 50px rgba(29, 152, 193, 0.5);
object-fit: cover; 
}


.homePageContainer {
    width: 50%;
    text-align: left;
    margin:auto;
    display: flex; 
    flex-direction: column; 
    align-items: left; 
}

.title {
    font-size: 64px;
    font-weight: bold;
    text-align: left;
    font-family: 'Inria Serif', serif;
    color: black;
    text-shadow: 2px 2px 4px rgba(29, 152, 193, 0.5); 
}

.symbol-gear {
    padding-left: 15px;
    color: grey;
}

.symbol-code {
    color: black;
}

.symbol-brain {
    color: pink;
}

.name-highlight {
    color: #1d98c1;
}

.sub-title {
    margin-top: 20px;
    font-size: 36px;
    color: black;
    font-family: 'Inria Serif', serif;
}

.description {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inria Serif', serif;
    color: black;
    margin-right: 150px;
}

.link-cont {
    display:flex;
    width: 100%;
    justify-content:flex-start;
    margin-top:30px;
}

.item-cont {
    display:flex;
    padding-right: 30px;
}

.icon-style{
    color: #1d98c1;
    width: 40px;
    height: 40px;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.icon-style:hover{
    color: #166d8f; 
    transform: scale(1.05); 
}

.button-cont {
    display: flex;
    margin-top: 30px;
}

.download-cv-button {
    font-size: 25px;
    font-weight: bold;
    background-color: #1d98c1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Inria Serif', serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.download-cv-button:hover {
    background-color: #166d8f; 
    transform: scale(1.05);  
}

@media (max-width: 1396px) {
    .title {
        font-size: 50px;
    }
}

@media (max-width: 1112px) {
    .title {
        font-size: 40px;
    }

    .sub-title {
        font-size: 26px;
    }

    .description {
        font-size: 16px;
    }

    .image-container {
        height: 250px;
      }
    
    .head-shot {
        width: 250px; 
        height: 250px; 
    }
}

@media (max-width: 1112px) {
    .title {
        font-size: 30px;
    }

    .sub-title {
        font-size: 20px;
    }

    .description {
        font-size: 16px;
        margin-right: 100px
    }
}

@media (max-width: 768px) {
    
    .homePage {
        flex-direction: column;
        align-items: center;
        margin: auto;
        justify-content: center;
    }

    .image-container {
        text-align: center;
        margin: 50px;
    }

    .homePageContainer {
        width: 100%;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        margin: 0;
    }

    .title {
        font-size: 40px;
        text-align: center; 
    }

    .description {
        font-size: 20px;
        text-align: center;
        justify-content: center;
        margin: 20px;

    }

    .link-cont {
        display:flex;
        width: 100%;
        justify-content:center;
        margin-top: 0px;
    }
    
    .item-cont {
        display:flex;
        padding: 0 10px;
    }

    .button-cont {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

 
  